.footer{
    color: #92EB15;
    text-align: center;
    padding: 10px;
    margin-top: 6rem;
      font-family: "Jura", sans-serif;
    }

    @media  screen and (max-width:420px) {
      .footer{
        margin-top: -1vh;
      }
    }