.Navbar {
    color: #61892f;

}

.heading {
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
    color: #86C232;
    font-family: "Inter", sans-serif;
}

.menuitems {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul li {
    list-style: none;
    margin: -5rem 0px 0px 0px
}

ul li a {
    color: #86C232;
    position: sticky;
    top: 20%;
    text-decoration: none;
    margin: -2rem 3rem 0 2px;
    font-weight: bolder;

}

ul li :hover {
    color: #b8db87;
}

.trigger_menu {
    display: none;
}

@media screen and (max-width:430px) {
    .Navbar {}

    .heading {
        text-align: center;
    }

    .homebtn {}

    .projectsbtn {}

    .contactbtn {}

    .menuitems {
        display: none;
        align-items: center;
        justify-content: flex-end;
    }

    .is_open {
        display: block;
        margin: 11rem 1rem 0.25rem 16rem;
        animation: slidingin ease-in-out 0.5s alternate 1;
    }

    .trigger_menu {
        display: block;
        position: absolute;
        margin: -2.75rem 1rem 0.25rem 20rem;
        color: #92EB15;
        font-size: 1.5rem;
    }

    @keyframes slidingin {
        from {
            transform: translateX(100px)
        }


        to {
            transform: translateX(200px, 20px)
        }
    }
}