@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Julius+Sans+One&family=Junge&family=Jura:wght@300..700&family=Ledger&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* overflow-x: hidden; */
}

.heading {
    font-size: 2rem;
    margin: -3rem 0 0 1rem;
    color: #86C232;
    font-family: "Inter", sans-serif;
}

.info {
    margin: 10rem 0 0 10rem;
    color: white;
    font-weight: bolder;
}

.myname {
    color: #86C232;
    font-size: 3rem;
    margin: -10px;
    animation: slidein ease-in-out 3s alternate 1;
}

@keyframes slidein {
    0% {
        margin-left: -300px;
    }

    100% {
        margin-right: 10px
    }
}

.expertise {
    font-size: 1.85rem;
    animation: bounce ease-in-out 3s infinite;
}

@keyframes bounce {
    from 0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);

    }

    40% {
        transform: translateY(-0px);
    }

    60% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}


p {
    margin: 2px 9.5rem;
    font-size: clamp(1rem, 0.75rem, 3rem);
    font-family: "Inter", sans-serif;
}

.btntalk {
    border-radius: 8px;
    height: 2rem;
    max-width: 80%;
    margin: 1rem 0 1rem 9.5rem;
    background-color: #86c232;
    color: black;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.btntalk:hover {
    background-color: #61892f;
}

.shandles {
    margin: 4rem 0rem 2rem 9.5rem;
    color: #86c232;
    font-size: 1rem;
}

.service {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 4rem 0px 2px 8.5rem;
    color: white;
}

.sidebg {
    position: absolute;
    left: 55%;
    top: 42%;
    border-radius: 20px;
}

.wid {
    color: #86c232;
    font-size: 2.5rem;
    margin: -4px 0px 2px 8.25rem;
}

.list {
    margin: 5rem 100px 4px 0rem;
}

.onlylist {
    background-color: #E4ECDA;
    border-radius: 30px;
    height: 304px;
    width: 350px;
    margin: 2px 3rem 2px 50px;

}

.titlehead {
    font-size: 20px;
    margin: 1rem 0.85rem 1rem 4.5rem;
    font-family: "Jura", sans-serif;
    font-weight: bold;
    color: black;

}

.icon {
    font-size: 8rem;
    color: black;
    text-align: center;
}

.details {
    color: black;
    overflow-wrap: break-word;
    font-size: 16px;
    width: 100%;
    margin: 0px 5px 5px 20px;
    padding: 4px 5px;
    font-family: "Karla", sans-serif;
}

.insta,
.twitter,
.facebook {
    margin: 0.5rem;
    position: relative;
    left: 10vw;
    font-size: 1.5rem;
}

@media screen and (max-width:430px) {
    .heading {}

    .info {
        font-size: 1.5rem;
        margin: 0rem 0 4vh 10vw;
        text-align: center;
    }

    .myname {
        font-size: 2rem;
        text-align: center;
    }

    .expertise {
        font-size: 1.5rem;
    }

    p {
        width: 50vw;
        margin: 1rem 1rem 1rem 25vw;
    }

    .btntalk {
        margin: 1rem 1rem 1rem 39vw;
    }

    .shandles {
        margin: 6vh 0 1rem 22vw;
    }

    .sidebg {
        display: none;

    }

    .service {
        margin: 1rem 0rem 1rem 30vw;
    }

    .wid {
        margin: 1rem 0rem 1rem 25vw;

    }

    .list {}

    .onlylist {
        height: 35vh;
        width: 70vw;
        margin: 0rem 1rem 1rem 1rem;
        padding: 2vh 2vw;
    }

    .titlehead {
        font-size: 1.5rem;
        margin-left: 5.5rem;
    }

    .icon {
        font-size: 5rem;
    }

    .details {
        font-size: 0.90rem;
        margin: 10px 0 1rem 0.85vw;
    }

    .insta,
    .twitter,
    .facebook {
          position: relative;
        left: 30vw;
        margin-top: 5vh;
    }

}