.wrapper1 {
    display: flex;
    gap: 8rem
}



.heading1 {
    position: relative;
    left: 100%;
    font-size: 2.15rem;
    font-family: "Kanit", sans-serif;
}

.heading2 {
    font-family: "Kanit", sans-serif;
    margin: 4rem 0rem 10px 170px;
}

.img1 {
    margin-left: 140px;
}

.rights1 {
    margin-top: 15rem
}

.abtproject1 {
    margin: 2rem 0px 10px 9.25rem;
    color: #92EB15;
}



.github1 {
    color: #92EB15;
    margin-top: 2rem;
    font-weight: bolder;
}


.wrapper2{
    display: flex;
    gap: 8rem
}



.heading2 {
    font-family: "Kanit", sans-serif;
    margin: 4rem 0rem 10px 170px;
}

.img2 {
    margin-left: 140px;
}

.rights2 {
    margin-top: 10rem
}

.abtproject2 {
    margin: 2rem 0px 10px 9.25rem;
    color: #92EB15;
}


.github2 {
    color: #92EB15;
    margin-top: 2rem;
    font-weight: bolder;
}


